/*Screen {
    scrollbar-size: 2 2;
    scrollbar-color: #b9b9b9;
}*/

/* HEADER */
.header {
    background: $background;
    content-align: center middle;
    text-style: bold;
}

/* GENERAL */
.title {
    content-align: center middle;
    width: 100%;
    min-height: 3;
    text-style: bold;
    background: $panel;
}

/* HOMEPAGE */
#homepage{
    width: 100%;
    max-height: 100%;
}

#homepage > Vertical {
    align: center middle;
    border: outer #1d2e38;
    width: 100%;
}

#homepage > Vertical > Button {
    margin: 1;
    border: tall #1d2e38;
    width: 50%;
}

/* BOOKLET */

#principale > Vertical > Tables{
    content-align: center middle;
    border: heavy #2b542c;
    width: 100%;
    height: auto;
}

#principale > NewAverage{
    border: heavy #ec971f;
    content-align: center middle;
}

#booklet-container-filters{
    height: auto;
    layout: horizontal;
    align: center middle;
    border: heavy #ec971f;
}

#booklet-container-filters > Average {
    width: auto;
}

#booklet-filters{
    align: center middle;
    width: 60%;
}

#booklet-filters > Input{
    width: 10%;
}

#booklet-filters > Button{
    margin-left: 3;
}

#booklet-table-exams{
    content-align: center middle;
    border: heavy #2b542c;
    width: 100%;
    height: auto;
}

#booklet-table-average{
    content-align: center middle;
    border: heavy #2b542c;
    width: 100%;
    height: auto;
}

#booklet-loading {
    width: 100%;
    height: 90%;
    border: heavy #ec971f;
    content-align: center middle;
    text-style: italic;
}

#booklet-value-error {
    border: heavy #9B0000;
    content-align: center middle;
}

/* TAXES */

#taxes-table{
    content-align: center middle;
    border: heavy #2b542c;
    width: 100%;
    height: auto;
}

#taxes-loading {
    width: 100%;
    height: 90%;
    border: heavy #ec971f;
    content-align: center middle;
    text-style: bold italic;
}

/* EXAMS */
#exams-container {
    width: 100%;
}

#exams-empty {
    text-style: bold italic;
    width: 100%;
    min-height: 30%;
    border: heavy purple;
    content-align: center middle;
}

#exams-table {
    border: heavy #54422b;
    width: 100%;
    height: auto;
}

#exams-table > Tables {
    content-align: center middle;
    /* height: auto; questo qua fa in modo che rimpicciolendo lo schermo poi mi esce la scrollbar, senza invece si adatta*/
}

#exams-add {
    border: heavy #54422b;
    width: 100%;
    height: 100%;
    layout: vertical;
    overflow: auto auto;
}

#exams-checkbox  {
    layout: grid;
    overflow-y: auto;
    grid-size: 2;
    border: none;
}

#exams-checkbox > Line  {
    height: 100%;
    width: 100%;
    border: heavy #54422b;
    align: center middle;
}

#exams-checkbox  > Line > Static {
    height: auto;
    width: auto;
}

#exams-checkbox  > Line > Check {
    height: auto;
    width: auto;
}

#exams-input {
    width: 100%;
    border: tall #54422b;
}

#exams-container > Horizontal {
    border: heavy #54422b;
    align: center middle;
    height: auto;
}
.exams-loading1{
    width: 100%;
    height: 90%;
    border: heavy #ec971f;
    content-align: center middle;
    text-style: bold italic
}

.exams-loading2{
    width: 100%;
    height: 100%;
    border: heavy #ec971f;
    content-align: center middle;
    text-style: bold italic
}

#exams-added-success{
    width: 100%;
    height: 100%;
    border: heavy #2b542c;
    content-align: center middle;
    text-style: bold italic;
}

.exams-added-error{
    width: 100%;
    height: 100%;
    border: heavy #9B0000;
    content-align: center middle;
    text-style: bold italic;
}

/* RESERVATIONS */

#reservations-vertical {
    height: 40%;
    border: #ec971f;
}

#reservations-vertical > Tables {
    margin-bottom: 1;
    content-align: center middle;
    border: none;
    width: 100%;
    height: auto;
}

#reservations-buttons{
    layout: horizontal;
    height: auto;
    align: center middle;
}

#reservations-buttons > Line  {
    border: #ec971f;
    align: center middle;
    height: auto;
    width: auto;
}

#reservations-buttons  > Line > Static {
    width: auto;
    height: auto;
    text-style: bold;
}

#reservations-buttons  > Line > Check {
    width: auto;
    height: auto;
}

#reservations-container > Horizontal {
    margin-top: 1;
    align: center middle;
    height: auto;
    width: 100%;
}

.reservations-loading{
    width: 100%;
    height: 90%;
    border: #ec971f;
    content-align: center middle;
    text-style: bold italic;
}

#reservations-loading-removed{
    width: 100%;
    height: 100%;
    border: heavy #ec971f;
    content-align: center middle;
    text-style: bold italic;
}

#reservations-removed-success{
    width: 100%;
    height: 100%;
    border: heavy #2b542c;
    content-align: center middle;
    text-style: bold italic;
}

.reservations-removed-error{
    width: 100%;
    height: 90%;
    border: heavy #9B0000;
    content-align: center middle;
    text-style: bold italic;
}

.reservations-empty{
    width: 100%;
    height: 90%;
    border: heavy #9B0000;
    content-align: center middle;
    text-style: bold italic;
}

.reservations-removed-mix{
    width: 100%;
    height: 100%;
    border: heavy #2b542c;
    content-align: center middle;
    text-style: bold italic;
}

/* FOOTER */
Footer {
    background: $background;
}



